# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

//.gitignore
//*.pptx
//*.ppt
//*.doc
//*.docx
*.dsp
*.dsw
*.zip
Software Architecture and Design pattern/week2/Second_What is the software architecture-2019-9-10.ppt
Operating System/Week3/lab03/2017141493004_常家奇.doc
Operating System/Week2/lab02/2017141493004_常家奇.doc
Operating System/Week4/binarybomb/binarybomb.rar
Operating System/Week6/lab9/2017141493004_常家奇.docx
Operating System/Week7/Lab10/2017141493004_常家奇.rar
Operating System/操作系统 精髓与设计原理 第8版英文.pdf
Operating System/操作系统 精髓与设计原理 第8版中文.pdf
